@model Blog_Recetas.Models.Instruccion


@{
    ViewData["Title"] = "Details";
    ViewData["TituloHeader"] = "Todos Nuestras Instrucciones";
    ViewData["SubtituloHeader"] = "Para Preparar las mejores Recetas.";
    ViewData["ImagenHeader"] = "/assets/img/instruccion-bg.jpeg";
}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
            <h1>Detalles</h1>

            <div>
                <h4>Instruccion</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NumeroPasos)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NumeroPasos)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Tiempo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Tiempo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Notas)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Notas)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Publicacion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Publicacion.Descripcion)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>

        
        </div>
            
    </div>            
</div>