@model IEnumerable<Blog_Recetas.Models.Publicacion>

﻿
@{
    ViewData["Title"] = "Index";
    ViewData["TituloHeader"] = "Seccion De Recetas";
    ViewData["SubtituloHeader"] = "Todas Nuestras Recetas";

    ViewData["ImagenHeader"] = "/assets/img/categoria-bg.jpg";
}

<!-- Post Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-12 mb-4 text-end">
            <form asp-action="Receta" method="get">
                <input name="Filtro" type="text" placeholder="Filtro" class="form-control" />
                <select name="CategoriaId" asp-items="ViewBag.CategoriaId" class="form-control mt-3">
                    <option value="0">Selecciona Categoria....</option>
                </select>
                <input class="btn btn-info mt-3" type="submit" value="Filtrar Recetas" />
            </form>
        </div>

        @if (!Model.Any())
        {
            <div class="col-12 mb-4 text-center">
                <div class="alert alert-warning">
                    No se encontraron recetas.
                </div>
                <a href="@Url.Action("Receta")" class="btn btn-primary mt-3">Volver a cargar recetas</a>
            </div>
        } 
        else
        {
            @foreach (var item in Model)
            {
                    <div class="post-preview border-bottom">
                        <a asp-action="Post" asp-route-id="@item.Id">
                            <h2 class="post-title">@item.Titulo</h2>
                            <h3 class="post-subtitle">@item.Subtitulo</h3>
                        </a>
                        <p class="post-meta">
                        <strong>Autor: </strong> @item.Autor.Nombre @item.Autor.SegundoNombre @item.Autor.Apellido
                        <strong> Fecha de Publicación: </strong> @item.FechaPublicacion.ToString("d MMMM yyyy")
                        </p>
                    </div>
                
            }
        }
    </div>
</div>